*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-bottom: 60px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

.App-header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.create-poll-container {
  margin-top: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.App-header h1 {
  margin: 0;
  font-size: 28px;
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #c0392b;
}

.role-selection-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px;
  text-align: center;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

.input-field {
  padding: 8px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.add-option-button {
  background-color: #27ae60;
}

.add-option-button:hover {
  background-color: #2ecc71;
}

.create-poll-button {
  background-color: #8e44ad;
}

.create-poll-button:hover {
  background-color: #9b59b6;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.poll-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-top: 10px;
}

.vote-button,
.close-poll-button {
  background-color: #16a085;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.vote-button:hover,
.close-poll-button:hover {
  background-color: #1abc9c;
}

.option-container {
  margin: 10px 0;
}

.role-button {
  background-color: #f39c12;
  color: white;
}

.role-button:hover {
  background-color: #f1c40f;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.list_of_polls {
}

.z3 {
  width: 80%;
}

.App-footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  position: relative;
  padding: 20px;
  background-color: #f1f1f1;
}

.register-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}

.register-container h2 {
  text-align: center;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-container button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #2980b9;
}

.inpp {
  padding: 8px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.logout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.logout-button.hidden {
  display: none;
}

.img1 {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
  border-radius: 3%;
  margin-top: 20px;
}

.news1 {
  text-decoration: none;
  color: white;
}

.hq {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  background-color: #1abc9c;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
